<div id="kapcsolat">
    <h2>Kapcsolat</h2>
    <hr>
    <div class="row">
        <div v-for="contact in contacts" class="col-sm-4 contact-container">
            <h4>{{ contact.capoeiraName }}</h4>
            <div class="button-group">
                    <a @click="redirectFacebook(contact)">
                        <button type="button" class="btn btn-outline-dark button-link">
                            <i class="fab fa-facebook-square"></i> {{ contact.name }}
                        </button>
                    </a>
                    <a v-if="contact.phone" :href="formatPhoneLink(contact.phone)" target="_blank">
                        <button type="button" class="btn btn-outline-dark button-link">
                            <i class="fas fa-phone"></i> {{ contact.phone }}
                        </button>
                    </a>
                </div>
        </div>
    </div>
    
    <p>és ha e-mailben szeretnél kérdezni: <a href="mailto:escolacapoeirahu@gmail.com">escolacapoeirahu@gmail.com</a></p>
</div>