<!-- <div id="rolunk" v-html="input['rendered']"></div> -->
<div id="rolunk">
    <h2>Mit csinálunk az edzéseken?</h2>
    <video width="640" height="360" controls>
        <source src="/img/Escola-Capoeira-2019-12-08.mp4"
            type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <p>A capoeira brazil harcművészet, küzdősport és életérzés. Része a rugalmasságot és jó erőnlétet eredményező kemény
        edzés, a zene és a jó társaság, de elsősorban a szép játékról szól. Nálunk nem az ellenfél legyőzése a cél,
        hanem a küzdelem folyamatossága és a capoeirában való jártasságunk bizonyítása. Az edzéseket bárki, bármilyen
        életkorban elkezdheti, mindenki megtalálja a saját stílusát.</p>
    <p>Próbáld ki, légy része egy összetartó baráti közösségnek, ahol a jó hangulat és a móka garantált. Az első edzés
        ingyenes, és nincs szükség hozzá semmilyen felszerelésre vagy egyenruhára!</p>
    
    <img src="/img/12004921_975013495873804_280170494654552643_n.jpg">

    <h2>Contramestre Tocha</h2>
    <p>Az edzéseket brazil edző, Contramestre Tocha tartja. Tocha 1980. április 17-én született Fortaleza városában,
        Brazíliában. Contramestre Tocha 14 éves korában kezdett el capoeirázni, 1998 óta tanít, 2006-ban szerzett
        professzori fokozatot, 2008 óta él Magyarországon.</p>
</div>