/* Bootstrap components */
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";


#rolunk{
    video{
        max-width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    img{
        width: 300px;
        height: 300px;
        margin-bottom: 15px;
        @include media-breakpoint-down(sm) {
            width: 200px;
            height: 200px;
        }
    }
}