<div id="english">
    <h2>Capoeira Trainings</h2>
    <p>Come, train with us! We have traditional capoeira trainings on Mondays from 20:00 to 21:30 and on Wednesdays from
        19:00 ti 20:30 in Vörösmarty Mihály Gimnázium (VIII. District, Budapest, Horánszky utca 11.), and in BME Sport
        Centre (XI. District, Budapest, Bertalan Lajos utca 4-6., „BME Sportközpont”) from 17:00 to 18:00 on Wednesdays
        and from 16:30 to 17:30 on Fridays.</p>
    <p>We have courses in Rajkó Iskola (VII. District, Budapest, Rottenbiller u. 16-12.) on Fridays, from 19:00 to
        21:00.</p>
    <p>During the summer, the trainings are on Margit Island in Budapest with Contramestre Tocha.</p>
    <p>In Jászberény you can meet us in Angyalkert Óvoda – call Bamboo @ 06/20/7756746.</p>
</div>