$grid-breakpoints: (
    xs: 320,
    sm: 600px,
    md: 800px,
    lg: 1000px,
    xl: 1280px
);

/* Bootstrap components */
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";


#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#custom-container {
    flex: 1;
}

h3 {
    margin: 40px 0 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}


.content {
    margin: 60px;

    @include media-breakpoint-down(sm) {
        margin: 40px 0;
    }
}