.footer {
    color: white;
    background-color: #383B45;
    height: 200px;
    width: 100%;

    margin: auto;
    left: 0;

    padding: 40px;

    i{
        font-size: 32px;
        margin: 10px;
    }

    $link-color: white;
    a {
        text-decoration: none;
        color: $link-color;
    }
    a:active {
        color: $link-color;
    }
    a:visited {
        color: $link-color;
    }
    a:hover {
        color: $link-color;
    }
}