<div class="card h-100 text-center">
    <div class="card-body">
        <h3 class="card-title">{{ practice.place }}</h3>
        <ul v-for="time in practice.times" class="list-group list-group-flush">
            <li class="list-group-item">{{ time }}</li>
        </ul>
        <div class="card-body button-group">
            <a :href="practice.mapLink" target="_blank">
                <button type="button" class="btn btn-outline-dark button-link">
                    <i class="fas fa-map-marker-alt"></i> {{ practice.address }}
                </button>
            </a>
            <a @click="redirectFacebook()">
                <button type="button" class="btn btn-outline-dark button-link">
                    <i class="fas fa-user"></i> {{ practice.trainer }}
                </button>
            </a>
            <a v-if="practice.websiteLink" :href="practice.websiteLink" target="_blank">
                <button type="button" class="btn btn-outline-dark button-link">
                    <i class="fas fa-globe"></i> {{ stripHTTP(practice.websiteLink) }}
                </button>
            </a>
        </div>
    </div>
</div>