<div class="card text-center practice">
    <div class="card-body">
        <h3 class="card-title">{{ practice.place }}</h3>
        <ul v-for="time in practice.times" class="list-group list-group-flush">
            <li class="list-group-item">{{ time }}</li>
        </ul>

        <div class="card-body">
            <a :href="practice.mapLink"><button type="button" class="btn btn-outline-dark"><i
                        class="fas fa-map-marker-alt"></i> {{ practice.address }}</button></a>
            <a :href="practice.facebookLink"><button type="button" class="btn btn-outline-dark"><i
                        class="fas fa-user"></i> {{ practice.trainer }}</button></a>
        </div>
        <!-- <div>
            <i class="fas fa-map-marker-alt"></i>
            <a :href="practice.mapLink">{{ practice.address }}</a>
        </div>
        <div>
            <i class="fas fa-user"></i>
            <a :href="practice.facebookLink">{{ practice.trainer }}</a>
        </div> -->

    </div>
</div>